<div class="portfolio-container">
  <div class="window-container">
    <div
      style="color: white"
      (click)="backwardClick()"
      [ngStyle]="{ visibility: achievementStep == 0 ? 'hidden' : 'visible' }"
    >
      <mat-icon style="cursor: pointer">fast_rewind</mat-icon>
    </div>

    <div
      class="window-content; background: rgb(2, 58, 77, 0.4);"
      style="position: relative; justify-content: center"
    >
      <div *ngIf="achievementStep == 0" class="achievement-desc">
        Welcome at my achievements <br />
        Click forward to see them all
      </div>
      <div *ngIf="achievementStep == 1" class="achievement-desc">
        Upper intermediate 3 Level general English
      </div>
      <div *ngIf="achievementStep == 2" class="achievement-desc">
        Generation leaders program of the Biat Foundation for Youth
      </div>
      <div *ngIf="achievementStep == 3" class="achievement-desc">
        Fundamental skills of coaching : Neuro Linguistic Programming
      </div>
      <div *ngIf="achievementStep == 4" class="achievement-desc">
        Level 8 general English
      </div>
      <div *ngIf="achievementStep == 5" class="achievement-desc">
        Practitioner in Neurolinguistic Programming (Psynapse)
      </div>
      <div *ngIf="achievementStep == 6" class="achievement-desc">
        Agile Scrum (Advancia training)
      </div>
      <div *ngIf="achievementStep == 7" class="achievement-desc">
        Computer Vision - Image Basics with OpenCV and Python
      </div>
      <div *ngIf="achievementStep == 8" class="achievement-desc">
        Docker Essentials & Building a Containerized Web Application
      </div>
      <div *ngIf="achievementStep == 10" class="achievement-desc">
        HTML, CSS, and Javascript for Web Developers
      </div>

      <div
        class="button-container"
        *ngIf="achievementStep != 0"
        (click)="openDialog()"
      >
        <button mat-raised-button color="primary">View certificate</button>
      </div>
    </div>

    <div style="color: white" (click)="forwardClick()">
      <div>
        <mat-icon style="cursor: pointer"> fast_forward</mat-icon>
      </div>
    </div>
  </div>
</div>
